@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;      
    color: #000000;
    font-size: 14px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* header */

.header {
    padding-top: 46px;
    background: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    position: relative;
    padding-right: 12px;
    padding-bottom: 3px;

    font-weight: 700;
    font-size: 32px; 
    line-height: 1;   
    color: #000000;    
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 8px;
    height: 8px;

    background-color: #FDA300;
    border-radius: 50%;
}

/* nav */
.nav-list {
    display: flex;
    column-gap: 50px;

    font-weight: 500;
    font-size: 14px;
}

.nav-button {
    display: none;
}

.nav-link {
    color:#000000;
}

.nav-link.active {
    color: #606060;
}

/* header content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 125px;
    max-width: 500px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
}

.header-content p {
    font-weight: 400;
    line-height: 200%;   
    padding-top: 20px;
}

/* service */

.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.service-card {
    flex: 1 1 0;
    min-width: 330px;
}

.service-card-img {
    margin-bottom: 30px;
}

.service-card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    text-transform: uppercase;
}

.service-card p {
    margin-top: 10px;
    width: 370px;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%; 
}

/* portfolio */

.portfolio {
    background-color: #F1F1F1;
    padding: 90px 0;
}

.portfolio-title {
    margin-bottom: 70px;
    text-align: center;   
}

.title-1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    color: #070707;
}

.project {
    text-align: center;  
}

.project +.project {
    margin-top: 90px;
}


.project-img {
    margin-bottom: 40px;
}

.project-title {
    font-size: 18px;
    font-weight: 400;
}

.project-title a { 
    text-decoration-line: underline;
    color: #070707;
}

/* contacts */

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;    
    color: #070707; 
}

.contacts-button {
    margin-bottom: 80px;  
}

.btn {
    display:inline-block;
    padding: 7px 22px;
    border-radius: 30px;


    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
    background-color: #070707;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover,
.btn:focus {
    background-color: #323232;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;    
}

.contacts-social {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.contacts-footer {
    font-weight: 400;
    font-size: 14px;
    
    color: #828282;   
}